node_modules/

coverage/
build/

*.tsbuildinfo

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

*.log
*.tmp
*.temp
*.swp
*.swo
*.swn
*~

.DS_Store
.idea/
.vscode/
*.code-workspace

.env
.env.*
